.lumx-test-cont{
  margin-top: 24px;
  margin-left: 30px;
  position: fixed;
  z-index: 999;
}

.brand-img{
  display: inline-block;
  height: 20px;
  margin-top: 17px;
}








/*    *************************
            MEDIA QUERIES
      *************************
*/



@media screen and (min-width: 544px) and (max-width: 767px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {

}

@media screen and (min-width: 992px) and (max-width: 1199px) {

}

@media screen and (min-width: 1200px) {

}
