.lumx-test-cont{
  margin-top: 24px;
  margin-left: 30px;
  position: fixed;
  z-index: 999;
}

@mixin keyframes( $animationName )
{
    @-webkit-keyframes $animationName {
        @content;
    }
    @-moz-keyframes $animationName {
        @content;
    }
    @-o-keyframes $animationName {
        @content;
    }
    @keyframes $animationName {
        @content;
    }
}

@mixin animation($animate) {
  animation: $animate;
};

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  } 100% {
    transform: rotate(359deg);
  }
}

.brand-img{

    display: inline-block;
    // height: 32px;
    height: calc(70% - 5px);
    animation: rotating 30s linear infinite;
    // margin-top: 2px;
    transition: transform .4s ease-in-out;
    &:hover {
      // @include animation('rotating 4s infinite');
    }
}

// .brand-img:hover{
    // display: inline-block;
    // animation: 2s linear infinite;
    // height: 32px;
    // margin-top: 2px;
    // transform: rotate(180deg);
// }


.more-menu{
  color: $mdc-theme-accent;
  &:hover {
    color: $mdc-theme-background;
  }
}

.nav-link{
  
}







/*    *************************
            MEDIA QUERIES
      *************************
*/



@media screen and (min-width: 544px) and (max-width: 767px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {

}

@media screen and (min-width: 992px) and (max-width: 1199px) {

}

@media screen and (min-width: 1200px) {

}
