<div class="main-cont col-xs-12 full-bleed">
  <div class="filler"></div>

  <div class="col-xs-10 offset-xs-1">

	  	<h2 class="mdc-typography--display2">Hello, Material Components!</h2>
	    <div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
	      <input type="text" class="mdc-textfield__input" id="demo-input">
	      <label for="demo-input" class="mdc-textfield__label">Tell us how you feel!</label>
	    </div>
	    <button mdc-ripple type="button" class="mdc-button mdc-button--raised mdc-button--primary">
	      Press Me
	    </button>

  	</div>

</div>


